<ion-header>
  <ion-toolbar>
    <ion-title color="tertiary">Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()" #cart>
        <div class="cart-length">{{ numCartItems | async}}</div>
          <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>

  
  <ion-card *ngFor="let p of products">
    <ion-card-header>
      <ion-card-title>{{ p.title }}</ion-card-title>
      <ion-card-subtitle>{{p.name}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="ion-align-items-center">
        <ion-col size="8">
          <ion-label color="secondary">
            <b>{{ p.price | currency:'EUR' }}</b>
          </ion-label>
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <ion-button fill="clear" (click)="addToCart(p)">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-list>

<center><ion-button expand="full" color="dark" (click)="home()">Return home</ion-button> </center>
</ion-content>
