<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>Music App</center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

<h2>Top 3 Artists of All time</h2>
<ion-card *ngFor="let artists of artistData">
  <ion-card-header>
    <center><ion-card-title>{{artists.name}}</ion-card-title></center>
    <center><ion-card-subtitle>Units Sold Worldwide: {{artists.units}}</ion-card-subtitle></center>
    <center><ion-card-subtitle>Genre: {{artists.genre}}</ion-card-subtitle></center>
  </ion-card-header>

  <ion-card-content>

  </ion-card-content>
</ion-card>

<center><ion-button expand="full" color="secondary" (click)="subsribe()">Subscribe</ion-button> </center>
<center><ion-button expand="full" color="dark" (click)="feedback()">Feedback</ion-button> </center>
<center><ion-button expand="full" color="" (click)="shop()">Shop</ion-button> </center>

<ion-button (click)="status()">Status Bar
</ion-button>


</ion-content>

